*
!.CHANGELOG-TEMPLATE.md.j2
!.gitignore
!README.md
!*.bugfix
!*.bugfix.md
!*.bugfix.*.md
!*.breaking
!*.breaking.md
!*.breaking.*.md
!*.deprecation
!*.deprecation.md
!*.deprecation.*.md
!*.doc
!*.doc.md
!*.doc.*.md
!*.feature
!*.feature.md
!*.feature.*.md
!*.internal
!*.internal.md
!*.internal.*.md
!*.misc
!*.misc.md
!*.misc.*.md
