[paths]
source =
  proxy
  */proxy
  .tox/*/lib/python*/site-packages/proxy

[report]
skip_covered = true
show_missing = true
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*raise$
    ^if __name__ == ['"]__main__['"]:$

[run]
branch = true
cover_pylib = false
parallel = true
relative_files = true
source =
  proxy
  tests
