# Ignore everything
**

# Except proxy
!proxy
!requirements.txt
!setup.py
!README.md
!run-test-faucet.sh
!run-faucet.sh
!run-airdropper.sh
!log_cfg.json
!pretty_log_cfg.json
!proxy-cli.sh
!health_check_proxy.sh
!health_check_faucet.sh

# Ignore __pycache__ directory
proxy/__pycache__
