.DS_Store
.coverage
.coverage.*
.idea
.vscode
.project
.pydevproject
.settings
.mypy_cache
.hypothesis
.tox

coverage.xml
proxy.py.iml
*.pyc

*.csr
*.crt
*.key

venv*
cover
htmlcov
dist
build

*.egg-info
