.DS_Store
.coverage
.coverage.*
.idea
.project
.pydevproject
.settings
.mypy_cache
.hypothesis
.tox
.python-version

coverage.xml
proxy.py.iml

.vscode/*
!.vscode/settings.json

*.pyc
*.egg-info
*.csr
*.crt
*.key
*.pem

.venv*
venv*

cover
htmlcov
dist
build

proxy/public
profile.svg
