.DS_Store
.coverage
.coverage.*
.idea
.vscode
.project
.pydevproject
.settings
.mypy_cache
.hypothesis
.tox
.python-version

coverage.xml
proxy.py.iml

*.pyc
*.egg-info
*.csr
*.crt
*.key
*.pem
venv*

cover
htmlcov
dist
build

proxy/public
docs/_build
