anyio==3.6.2
astroid==2.12.12; python_version > '3.6'
astroid==2.11.7; python_version == '3.6'
attrs==22.1.0; python_version > '3.6'
attrs<22,>=19; python_version == '3.6'
autopep8==1.7.0
bcrypt==4.0.1
bleach==5.0.1; python_version > '3.6'
bleach==4.1.0; python_version == '3.6'
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
codecov==2.1.12
colorama==0.4.5
commonmark==0.9.1
coverage==6.5.0; python_version > '3.6'
coverage==6.2; python_version == '3.6'
cryptography==38.0.1; python_version <= '3.6'
distlib==0.3.6
docutils
execnet==1.9.0
flake8
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore
httpx
hyperframe==6.0.1
identify
iniconfig==1.1.1
isort==5.10.1
keyring
mccabe==0.7.0
more-itertools
mypy
mypy-extensions==0.4.3
nodeenv
packaging==21.3
pkginfo==1.8.3
platformdirs
pluggy==1.0.0
pre-commit
py==1.11.0
py-spy==0.3.14
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
Pygments==2.13.0
pylint
PyNaCl==1.5.0
pyparsing==3.0.9
pytest
pytest-asyncio
pytest-cov==4.0.0
pytest-forked==1.4.0
pytest-mock
pytest-xdist==2.5.0
python-coveralls==2.9.3
PyYAML
readme-renderer
requests
requests-toolbelt==0.10.0
rfc3986==1.5.0
rich==12.6.0
rope
six==1.16.0
toml==0.10.2
tomli
tomlkit
tox==3.26.0
tqdm==4.64.1
types-cryptography==3.3.23.1
types-requests==2.28.11.2
types-setuptools==65.5.0.1
types-urllib3==1.26.25.1
typing_extensions
urllib3==1.26.12
webencodings==0.5.1
zipp
