paramiko==2.11.0; python_version < '3.11'
paramiko==3.4.0; python_version >= '3.11'
types-paramiko==2.11.3; python_version < '3.11'
types-paramiko==3.4.0.20240311; python_version >= '3.11'
cryptography==36.0.2; python_version <= '3.6'
