wheel==0.37.0
python-coveralls==2.9.3
coverage==5.5
flake8==3.9.2
pytest==6.2.5
pytest-cov==2.12.1
autopep8==1.5.7
mypy==0.910
py-spy==0.3.9
codecov==2.1.12
tox==3.24.4
mccabe==0.6.1
pylint==2.11.1
rope==0.20.1
